<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Articulos-app" value ="C:\Users\Juani\Desktop\C#-Nivel2\TPFinalNivel2\Articulos-app"></add>
	</appSettings>
</configuration>